= render :file => '/pages/assignment1.txt'

ul
  ol Inspect the following short pieces of code:
    <br>
    <strong>PHP</strong>
    <code><br>
      $a = '1'; <br>
      $b = 2;<br>
      $result = $a+$b;<br>
      echo $result; <br><br>
      > 3
    </code><br><br>
    <strong>Javascript</strong><br>
    <code>var a = '1';<br>var b = 2;<br>var result = a + b;<br>document.write(result);<br><br>12</code>
    <br><br><br>


  ol Describe (in pseudo-code) a short algorithm which prints all primenumbers from 1 until 10,000
    <br>
    <code>
      numbers = [*1..10000]<br>
      numbers for each do<br>
        &nbsp;&nbsp;divider = [*2..(number/2)<br>
        &nbsp;&nbsp;divider for each do<br>
          &nbsp;&nbsp;&nbsp;&nbsp;if number/divider == 0<br>
        &nbsp;&nbsp;number is prime<br>
      &nbsp;&nbsp;end<br>
      end<br>
    </code>
    <br><br><br>

  ol Describe (in pseudo-code) a recursive method that is able to print the n-th number in the fibonacci series.Fibonacci: 1 1 2 3 5 8 13 21 34 55 89 etc
    <br>
    <code>
    def fibonacci( n )<br>
      &nbsp;&nbsp;return  n  if n <= 1 <br>
      &nbsp;&nbsp;fibonacci( n - 1 ) + fibonacci( n - 2 )<br>
      &nbsp;&nbsp;end<br>
    puts fibonacci( 10 )<br>
    <br><br><br>
